.carousel {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-width: 960px;
    margin: auto;
    flex-direction: column;
    background-color: #fff;
    padding: 20px;
}

.carousel h1 {
    align-self: flex-start;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 300%; /* Allow space for three items */
}

.carousel-item {
    flex: 0 0 100%; /* Each item takes full width */
    text-align: center;
}

.carousel-item a {
    color: var(--link-color);
}

.carousel-item img {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.carousel-item h2, .carousel-item p {
    max-width: 600px;
    margin: 0 auto;
    word-wrap: break-word;
    padding-bottom: 10px;
}

.carousel-button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

#carousel-prev {
    left: 10px;
}

#carousel-next {
    right: 10px;
}

@media (max-width: 600px) {
    .carousel img {
        height: 250px;
    }

    .carousel-button {
        transform: translateY(150%);
    }

    .carousel-item h2, .carousel-item p {
        max-width: 30%;
    }
}