@import url('variables.css');

#film-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    
}

#film-page {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    margin: 0 auto;
    flex-direction: column;
    background-color: #fff;
}

.film-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
}

.film-card img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.film-card img:hover {
    -webkit-transform: rotateZ(-10deg);
    -ms-transform: rotateZ(-10deg);
    transform: rotateZ(-10deg);
    transition: 1s ease;
}

.film-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.film-card p {
    font-size: 0.9em;
}

.film-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
}

#film-details {
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

#film-details img {
    width: 50%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 20px;
    float: left;
    padding: 10px;
}

#film-details h2 {
    font-size: 2em;
    margin: 20px 0;
}

#film-details p {
    font-size: 1em;
    margin: 10px 0;
}

#film-details a {
    display: inline-block;
    margin-top: 15px;
    padding: 10px 15px;
    background-color: var(--main-color);
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

#film-details a:hover {
    background-color: var(--second-color);
}

.sorting {
    display: flex;
    align-items: baseline;
    margin: 20px;
}

.sorting label {
    margin-right: 10px;
    font-weight: bold;
}

.sorting select {
    padding: 5px 10px;
    font-size: 1em;
}

@media (max-width: 600px) {
    #film-details {
        display: flex;
        flex-direction: column;
    }

    #film-details img {
        width: 90%;
        align-self: center;
    }
}