/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3d5a80;
    background-image: linear-gradient(rgba(61, 90, 128, 0.5), rgba(255, 255, 0, 0.5)), url("../images/norwavelogo.png");
    background-size: 500%;
}

/* Header Styles */
header {
    position: relative;
    background-color: #fff;
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 8px 6px -6px black, 0px -50px 36px -50px #3d5a80 inset;
    z-index: 99;
}

.logo img {
    max-height: 70px;
}

nav ul.menu {
    list-style: none;
    display: flex;
    margin: 0;
}

nav ul.menu li {
    margin: 0 15px;
}

nav ul.menu li a {
    color: #000;
    text-decoration: none;
}

.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    /* width: 100%; */
    max-width: 1000px;
    margin: 0 auto;
}

article {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

article img {
    max-width: 100%;
}

.author-date {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 15px;
}

.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: semi-transparent background */
    z-index: 1000; /* Ensure it's on top of other content */
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px solid;
    border-color: #de3500 transparent #fff transparent;
    border-radius: 50%;
    box-sizing: border-box;
    animation: rotate 1s linear infinite;
    position: fixed;
}

.loader:before, .loader:after {
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    border: 10px solid transparent;
    border-bottom-color:#fff;
    transform: translate(-10px, 19px) rotate(-35deg);
}

 .loader:after {
    border-color: #de3500 #0000 #0000 #0000 ;
    transform: translate(32px, 3px) rotate(-35deg);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

#share-button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#share-button i {
    font-size: 1.2em;
}

#share-button:hover {
    background-color: #217dbb;
    transform: translateY(-2px);
}

#share-button:active {
    background-color: #1a5e8c;
    transform: translateY(0);
}

/* Form Input Styles */
label {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea {
    width: 98%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 16px;
}

textarea {
    height: 240px;
    resize: none;
}

/* Checkbox Styling */
input[type="checkbox"] {
    margin-top: 10px;
}



/* Post Container */
.posts-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fafafa;
    justify-content: space-between;
    height: 100%;
}

.post h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 10px;
}

.post p {
    font-size: 1rem;
    color: #555;
    flex-grow: 1;
}

.post a {
    text-decoration: none;
}

.post img {
    width: 100%; /* Make the image fit the container */
    height: 200px; /* Set a fixed height for uniformity */
    object-fit: cover; /* Ensure the image is cropped to fit */
    border-radius: 5px;
    margin-top: auto; /* Pushes the image to the bottom */
    padding-top: 20px;
}

#posts-front {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    row-gap: 60px;
}

#blog-posts {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#blog-posts .post {
    border-bottom: 1px solid #ddd;
}

#blog-posts .post:last-child {
    border-bottom: none;
}

#blog-posts .post h2 {
    margin: 0;
}

.filmscroller-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding: 20px;
    margin-bottom: 30px;
}

.filmscroller {
    display: flex;
    overflow: hidden;
    width: 100%;
}

.filmscroller-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(200%); /* Adjust to ensure space for scrolling */
}

.filmscroller-item {
    flex: 0 0 20%; /* Show 5 items at a time */
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

.filmscroller-item img {
    width: 100%;
    border-radius: 5px;
}

.filmscroller-item h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.filmscroller-item p {
    font-size: 0.9em;
}

.filmscroller-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 2rem;
    z-index: 2;
}

#filmscroller-prev {
    left: 10px;
}

#filmscroller-next {
    right: 10px;
}

#related-posts {
    margin-top: 40px;
}

#related-posts h3 {
    font-size: 1.5em;
    margin-bottom: 15px;
    padding-left: 20px;
}

.related-posts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;
}

.related-post {
    flex: 1 1 30%;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.related-post h4 {
    font-size: 1.2em;
    margin: 10px 0;
}

.related-post img {
    width: 100%;
    height: auto;
    max-height: 250px;
    object-fit: cover;
    border-radius: 5px;
}


footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 140px; 
}

.footer-content {
    position: relative;
    z-index: 2;
    padding: 20px;
}

@media (max-width: 768px) {
    nav ul.menu {
        display: none;
    }

    .hamburger {
        display: block;
    }

    nav ul.menu.active {
        display: block;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        text-align: center;
    }

    nav ul.menu.active li {
        padding: 10px;
        border-bottom: 1px solid #444;
    }
}

@media (max-width: 600px) {
    form {
        padding: 15px;
        width: 100%;
    }
}