@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --background-color: #fff;
    --font-color: #000;
    --btn-color-font: #fff;
    --main-color: #003cbc;
    --second-color: #5573FF;
    --link-color: #003cbc;
    --bar-width: 40px;
    --bar-height: 5px;
    --hamburger-gap: 6px;
    --background: #000;
    --animation-timing: 200ms ease-in-out;
    --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
    --max-width: 1000px;
}